extends layout
block content
  form#package_form(method='post', action='/', type='multipart/form-data')
    h2 Frameworks
    .row
      div.square.col-md-3
        div.inner_square
          label(for='angular') Angular
          input(type='checkbox', value='bower', name='deps[angular]')
      div.square.col-md-3
        div.inner_square
          label(for='backbone') Backbone
          input(type='checkbox', value='bower', name='deps[backbone]')
      div.square.col-md-3
        div.inner_square
          label(for='ember') Ember
          input(type='checkbox', value='bower', name='deps[ember]')

    h2 Markdown
    .row
      div.square.col-md-3
        div.inner_square
          label(for='jade') Jade
          input(type='checkbox', value='npm', name='deps[jade]')
      div.square.col-md-3
        div.inner_square
          label(for='less') Less.js
          input(type='checkbox', value='npm', name='deps[less]')

    h2 Libraries
    .row
      div.square.col-md-3
        div.inner_square
          label(for='bootstrap') Bootstrap
          input(type='checkbox', value='bower', name='deps[bootstrap]')
      div.square.col-md-3
        div.inner_square
          label(for='jquery') jQuery
          input(type='checkbox', value='bower', name='deps[jquery]')
      div.square.col-md-3
        div.inner_square
          label(for='fontawesome') Font Awesome
          input(type='checkbox', value='bower', name='deps[fontawesome]')
      div.square.col-md-3
        div.inner_square
          label(for='moment') Moment
          input(type='checkbox', value='bower', name='deps[moment]')

    .row
      div.col-md-12#launch_botton_parent
        div#launch_button Launch!

  .div#launch_box
    .row
      .div.col-md-12
        h3 What next? 
    .row
      .div.col-md-12
        h4 Save Your Config Files
        p 
          | Copy and paste your Bower config into a file named 
          | <strong>'bower.json'</strong>
          | and your NPM config into a file named 
          | <strong>'package.json'</strong>. Place these files in your
          | project's root directory.
        h4 Step 1
        p If you haven't already, install NPM. As root, run:
        div.code 
          | > apt-get install npm
        h4 Step 2
        p Move your new config files to your project's root directory:
        div.code(style='white-space:pre;')
          | > mv package.json /path/to/project
          | > mv bower.json /path/to/project
        h4 Step 3
        p Install your packages! From your project's root directory, run:
        div.code > npm install
        p
          | The packages you selected should now be located in the 'vendor'
          | directory inside your project and are ready for you to include
          | in your site!
