extends layout
block content
  form#package_form(method='post', action='/', type='multipart/form-data', ng-controller='ListCtrl' ng-cloak)
    div(ng-repeat="type in ['Frameworks', 'Markdown', 'Libraries']")
      h2 {{type}}
      .row
        div.square.col-md-3(ng-repeat="package in data[type]")
          div.inner_square(title="{{package.description}}")
            img.thumb(src="{{package.image_path}}")
            br
            label(for="{{package.package_name}}") {{package.long_name}}
            input(type='checkbox', value="{{package.package_manager}}", name="deps[{{package.package_name}}]")

    .row
      div.col-md-12#launch_botton_parent
        div#launch_button Launch!

  .div#launch_box
    .row
      .div.col-md-12
        h3 What next? 
    .row
      .div.col-md-12
        h4 Save Your Config Files
        p 
          | Copy and paste your Bower config into a file named 
          | <strong>'bower.json'</strong>
          | and your NPM config into a file named 
          | <strong>'package.json'</strong>. Place these files in your
          | project's root directory.
        h4 Step 1
        p If you haven't already, install NPM. As root, run:
        div.code 
          | > apt-get install npm
        h4 Step 2
        p Move your new config files to your project's root directory:
        div.code(style='white-space:pre;')
          | > mv package.json /path/to/project
          | > mv bower.json /path/to/project
        h4 Step 3
        p Install your packages! From your project's root directory, run:
        div.code > npm install
        p
          | The packages you selected should now be located in the 'vendor'
          | directory inside your project and are ready for you to include
          | in your site!
