extends layout
block content
  form#package_form(method='post', action='/', type='multipart/form-data')
    h2 Frameworks
    .row
      div.square.col-md-3
        div.inner_square(title="HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.")
          img.thumb(src='/img/angularjs.png')
          label(for='angular') Angular
          input(type='checkbox', value='bower', name='deps[angular]')
      div.square.col-md-3
        div.inner_square(title="Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.")
          img.thumb(src='/img/backbone.png')
          label(for='backbone') Backbone
          input(type='checkbox', value='bower', name='deps[backbone]')
      div.square.col-md-3
        div.inner_square(title="Ember.js is a JavaScript framework that does all of the heavy lifting that you'd normally have to do by hand. There are tasks that are common to every web app; Ember.js does those things for you, so you can focus on building killer features and UI.")
          img.thumb(src='/img/emberjs.png')
          label(for='ember') Ember
          input(type='checkbox', value='bower', name='deps[ember]')

    h2 Markdown
    .row
      div.square.col-md-3
        div.inner_square(title="A templating engine that allows you to write markup with the same structure as HTML, but with far less writing, resulting in cleaner and easier to maintain pages.")
          img.thumb(src='/img/jade.png')
          label(for='jade') Jade
          input(type='checkbox', value='npm', name='deps[jade]')
      div.square.col-md-3
        div.inner_square(title="Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions and many other techniques that allow you to make CSS that is more maintainable, themable and extendable.")
          img.thumb(src='/img/less.png')
          label(for='less') Less.js
          input(type='checkbox', value='npm', name='deps[less]')
      div.square.col-md-3        
        div.inner_square(title="Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.")
          img.thumb(src='/img/stylus.png')
          label(for='stylus') Stylus
          input(type='checkbox', value='bower', name='deps[stylus]')
      div.square.col-md-3
        div.inner_square(title="CoffeeScript is a little language that compiles into JavaScript. Underneath that awkward Java-esque patina, JavaScript has always had a gorgeous heart. CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way.")
          img.thumb(src='/img/coffeescript.png')
          label(for='coffeescript') CoffeeScript 
          input(type='checkbox', value='npm', name='deps[coffee-script]')

    h2 Libraries
    .row
      div.square.col-md-3
        div.inner_square(title="Bootstrap is a free collection of tools for creating websites and web applications. It contains HTML and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.")
          img.thumb(src='/img/bootstrap.png')
          label(for='bootstrap') Bootstrap
          input(type='checkbox', value='bower', name='deps[bootstrap]')
      div.square.col-md-3
        div.inner_square(title="jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.")
          img.thumb(src='/img/jquery.png')
          label(for='jquery') jQuery
          input(type='checkbox', value='bower', name='deps[jquery]')
      div.square.col-md-3
        div.inner_square(title="Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.")
          img.thumb(src='/img/fontawesome.png')
          label(for='fontawesome') Font Awesome
          input(type='checkbox', value='bower', name='deps[fontawesome]')
      div.square.col-md-3
        div.inner_square(title="A javascript date library for parsing, validating, manipulating, and formatting dates.")
          img.thumb(src='/img/moment.png')
          label(for='moment') Moment
          input(type='checkbox', value='bower', name='deps[moment]')
    .row
      div.col-md-12
        h3 More library choices coming soon!

    .row
      div.col-md-12#launch_botton_parent
        div#launch_button Launch!

  .div#launch_box
    .row
      .div.col-md-12
        h3 What next? 
    .row
      .div.col-md-12
        h4 Save Your Config Files
        p 
          | Copy and paste your Bower config into a file named 
          | <strong>'bower.json'</strong>
          | and your NPM config into a file named 
          | <strong>'package.json'</strong>. Place these files in your
          | project's root directory.
        h4 Step 1
        p If you haven't already, install NPM. As root, run:
        div.code 
          | > apt-get install npm
        h4 Step 2
        p Move your new config files to your project's root directory:
        div.code(style='white-space:pre;')
          | > mv package.json /path/to/project
          | > mv bower.json /path/to/project
        h4 Step 3
        p Install your packages! From your project's root directory, run:
        div.code > npm install
        p
          | The packages you selected should now be located in the 'vendor'
          | directory inside your project and are ready for you to include
          | in your site!
