doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Front-End Friend

  //- Stylesheets & Font imports
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.css')

body
  div.container
    .row
      div.col-lg-12
        .header
          h1 Front-End Friend
    .main-content
      block content

  div.footer
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        //- Footer Content Goes Here

scripts
  script(src='/vendor/jquery/jquery.js')
  script(src='/vendor/bootstrap/bootstrap.js')
  script(src='/js/index.js')

  //- Vex imports
  script(src='/vendor/vex/vex.combined.min.js')
  link(rel='stylesheet', href='/vendor/vex/vex.css')
  link(rel='stylesheet', href='/vendor/vex/vex-theme-default.css')
  script vex.defaultOptions.className = 'vex-theme-default'
