doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Front-End Friend

  //- Stylesheets & Font imports
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.css')

body
  div.container
    .row
      div.col-md-12
        h4#help What is this?
        div#help_content
          p
            | Front-End Friend can help you get started with front-end web
            | development by introducing you to handy libraries and letting
            | you easily pick which ones you'd like to use. FEF creates
            | customized 
            a(href="http://bower.io" target="_blank") Bower
            |  and 
            a(href="https://www.npmjs.org/" target="_blank") NPM
            |  configurations that you can use
            | to import selected packages into your project.
          br
          p
            | Bower and NPM are handy package managers for front-end web
            | development that can help you keep track of which dependencies
            | your project uses and easily install new ones.
          br
          p
            | To get started, hover over the boxes to see more info about
            | each package. Click on a package to select it. When you're
            | ready, click the Launch! button to continue.
    .row
      div.col-lg-12
        h1#header Front-End Friend
    .main-content
      block content

  div.footer
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        //- Footer Content Goes Here

scripts
  script(src='/vendor/jquery/jquery.js')
  script(src='/vendor/bootstrap/bootstrap.js')
  script(src='/js/index.js')

  //- Vex imports
  script(src='/vendor/vex/vex.combined.min.js')
  link(rel='stylesheet', href='/vendor/vex/vex.css')
  link(rel='stylesheet', href='/vendor/vex/vex-theme-top.css')
  script vex.defaultOptions.className = "vex-theme-top"

  //- highlight.js
  link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/default.min.css")
  script(src="http://yandex.st/highlightjs/8.0/highlight.min.js")
