@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Color Variables
darkOrange = #FF6D40
lightOrange = #f7815c
darkGray = #4f4f4f
midGray = #b2b2b2
lightGray = #efeae8

html, body
    background-color darkGray !important
    font-weight 300 !important

input[type='checkbox']
    display none

h1, h2
    color lightGray !important
    font-family 'Lato', sans-serif !important
    font-weight 300 !important

.inner_square
    background-color midGray
    height 200px
    padding 15px

#launch_box
    display none

#launch_button_parent
    text-align center

#launch_button
    width 200px
    margin 0 auto
    margin-top 30px !important
    margin-bottom 15px !important
    background-color darkOrange
    padding-top 10px
    padding-bottom 10px
    font-size 25px
#launch_button:hover
    background-color lightOrange

.code
    background-color lightGray !important

#header
    text-align center
    font-size 40pt
    
#package_form
    text-align center
